.contagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: contagem;

  .relogio {
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009F;
    box-sizing: border-box;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    margin-bottom: 24px;
    padding: 16px 12px;
    width: 100%;
    margin: 2px;
  }

  .titulo {
    font-size: 1.5rem;
  }

  button {
    align-self: center;
    background-color: #00B234;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #0000009F;
    color: #f2f2f2;
    cursor: pointer;
    font-size: 0.75rem;
    padding: 13px;
    width: 100px;

    &:active {
      background-color: #00B234;
      box-shadow: 2px 2px 4px #d60b0b9f inset;
      cursor: auto;
    }
  }

  @media screen and (min-width:1280px) {

    .relogio {
      font-size: 2rem;
    }

    p {
      font-size: 2rem;
    }

    button {
      grid-column-start: span 2;
      justify-self: center;
      width: 150px;
      font-size: 1.25rem;
      margin-top: 5px;
    }
  }
}